__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

.venv/
venv/

.env

.idea/

*.db
.DS_Store

data/lake/
.sparkStaging/

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl